@model IEnumerable<drnosv6.Models.Doctor>

@{
    ViewBag.Title = "SearchIndex";
}

<h2>Doctors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("SearchIndex", "drnos")) //insert the search bar
{

    <p>
        Find by First Name, Last Name, or RVH ID: @Html.TextBox("SearchString")

        <input type="submit" name="Command" value="Search" />
    </p>
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('tr:even').addClass('alt-row-class');
    });


</script>

<p>

    <input type="button" name="Command" onclick="$('#doctorform').submit();" value="Save" />

</p>

<table>
    <tr>
        <th>
            RVH ID
        </th>
       
        <th>
            Last Name
        </th>
        <th>
            First Name
        </th>
        <th>
            Middle Initial
        </th>
        <th>
            Degree
        </th>
        <th>
            Group
        </th>
        <th>
           Adm Priv
        </th>
        <th>
            QCPR
        </th>
        <th>
            Keane
        </th>
        <th>
            Orsos
        </th>
        <th>
            Soft
        </th>
        <th>
            3M
        </th>
        
        <th></th>
    </tr>


@using (Html.BeginForm("SearchIndex", "drnos",  FormMethod.Post, new { id = "doctorform" }))
 {
   // @Html.AntiForgeryToken()
     foreach (var item in Model)
     {
    <tr>
        <td>
            @Html.DisplayFor(m => item.RVH_ID_)
        </td>
        <td>
            @Html.DisplayFor(m => item.Last_Name)
        </td>
        <td>
            @Html.DisplayFor(m => item.First_Name)
        </td>
        <td>
            @Html.DisplayFor(m => item.Middle_Name)
        </td>
        <td>
            @Html.DisplayFor(m => item.Degree1)
        </td>
        <td>
            @Html.DisplayFor(m => item.Group)
        </td>
        <td>
            @Html.CheckBoxFor(m => item.AdmPriv)
        </td>
        <td>
            @Html.CheckBoxFor(m => item.QCPR)
        </td>
        <td>
            @Html.CheckBoxFor(m => item.Keane)
        </td>
        <td>
            @Html.CheckBoxFor(m => item.Orsos)
        </td>
        <td>
            @Html.CheckBoxFor(m => item.Soft)
        </td>
        <td>
            @Html.CheckBoxFor(m => item.C3M)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.RVH_ID_ }) |
            @Html.ActionLink("Details", "Details", new { id = item.RVH_ID_ }) 
            
        </td>
    </tr>
}
}
</table>
